<img src="https://raw.githubusercontent.com/andre-marcos-perez/ebac-course-utils/main/media/logo/newebac_logo_black_half.png" alt="ebac-logo">

---

# **Módulo** | Análise de Dados: COVID-19 Dashboard
Caderno de **Exercícios**<br>
Professor [André Perez](https://www.linkedin.com/in/andremarcosperez/)
Aluno [Luís Rafael](https://www.linkedin.com/in/luis-rafael-fernandes-maia-357981a7/)
---

# **Tópicos**

<ol type="1">
  <li>Introdução;</li>
  <li>Análise Exploratória de Dados;</li>
  <li>Visualização Interativa de Dados;</li>
  <li>Storytelling.</li>
</ol>

---

# **Exercícios**

Este *notebook* deve servir como um guia para **você continuar** a construção da sua própria análise exploratória de dados interativa. Fique a vontate para copiar os códigos da aula mas busque explorar os dados ao máximo. Por fim, publique seu *notebook* no [Kaggle](https://www.kaggle.com/) e seu *dashboard* [Google Data Studio](https://datastudio.google.com/).

---

# **COVID Dashboard**

## 1\. Contexto

A pandemia de COVID-19, causada pelo coronavírus SARS-CoV-2, representa uma crise global de saúde pública devido à sua alta transmissibilidade e severa gravidade. Desde o início da pandemia, a coleta e análise de dados têm sido essenciais para entender e combater a propagação do vírus. Tendo como fonte de dados o Centro de Ciência de Sistemas e Engenharia da Universidade John Hopkins (EUA) e os dados sobre a vacinação pela “Nosso Mundo em Dados” (Our World in Data - OWID) da Universidade de Oxford(UK). Este projeto visa desenvolver um dashboard interativo para explorar e visualizar dados sobre a evolução dos casos de COVID-19 e a vacinação no Brasil.

## 2\. Pacotes e bibliotecas

In [ ]:
# importe todas as suas bibliotecas aqui, siga os padrões do PEP8:
#
# - 1º pacotes nativos do python: json, os, etc.;
import math
from typing import Iterator
from datetime import datetime, timedelta

# - 2º pacotes de terceiros: pandas, seabornm etc.;
import numpy as np
import pandas as pd

# - 3º pacotes que você desenvolveu.
#

## 3\. Extração

In [ ]:
# faça o código de extração dos dados:
#
# - coleta de dados;
cases = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/01-12-2021.csv', sep=',')

vaccines = pd.read_csv('https://covid.ourworldindata.org/data/owid-covid-data.csv', sep=',', parse_dates=[3], infer_datetime_format=True)


def date_range(start_date: datetime, end_date: datetime) -> Iterator[datetime]:
  date_range_days: int = (end_date - start_date).days
  for lag in range(date_range_days):
    yield start_date + timedelta(lag)


start_date = datetime(2021,  1,  1)
end_date   = datetime(2021, 12, 31)

cases = None
cases_is_empty = True

for date in date_range(start_date=start_date, end_date=end_date):

  date_str = date.strftime('%m-%d-%Y')
  data_source_url = f'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/{date_str}.csv'

  case = pd.read_csv(data_source_url, sep=',')

  case = case.drop(['FIPS', 'Admin2', 'Last_Update', 'Lat', 'Long_', 'Recovered', 'Active', 'Combined_Key', 'Case_Fatality_Ratio'], axis=1)
  case = case.query('Country_Region == "Brazil"').reset_index(drop=True)
  case['Date'] = pd.to_datetime(date.strftime('%Y-%m-%d'))
  if cases_is_empty:
    cases = case
    cases_is_empty = False
  else:
    cases = pd.concat([cases, case], axis= 0, ignore_index=True)

<ipython-input-2-cea56d7147ef>:6: FutureWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  vaccines = pd.read_csv('https://covid.ourworldindata.org/data/owid-covid-data.csv', sep=',', parse_dates=[3], infer_datetime_format=True)

In [ ]:
# - wrangling da estrutura; part 1
cases = cases.rename(
  columns={
    'Province_State': 'state',
    'Country_Region': 'country'
  }
)

for col in cases.columns:
  cases = cases.rename(columns={col: col.lower()})

states_map = {
    'Amapa': 'Amapá',
    'Ceara': 'Ceará',
    'Espirito Santo': 'Espírito Santo',
    'Goias': 'Goiás',
    'Para': 'Pará',
    'Paraiba': 'Paraíba',
    'Parana': 'Paraná',
    'Piaui': 'Piauí',
    'Rondonia': 'Rondônia',
    'Sao Paulo': 'São Paulo'
}

cases['state'] = cases['state'].apply(lambda state: states_map.get(state) if state in states_map.keys() else state)


cases['month'] = cases['date'].apply(lambda date: date.strftime('%Y-%m'))
cases['year']  = cases['date'].apply(lambda date: date.strftime('%Y'))

cases['population'] = round(100000 * (cases['confirmed'] / cases['incident_rate']))
cases = cases.drop('incident_rate', axis=1)

cases_ = None
cases_is_empty = True

def get_trend(rate: float) -> str:

  if np.isnan(rate):
    return np.NaN

  if rate < 0.75:    # Se a divisão for menor que 0.75 (correção 0.85)
    status = 'downward'
  elif rate > 1.15:
    status = 'upward'
  else:
    status = 'stable'

  return status


for state in cases['state'].drop_duplicates():

  cases_per_state = cases.query(f'state == "{state}"').reset_index(drop=True)
  cases_per_state = cases_per_state.sort_values(by=['date'])

  cases_per_state['confirmed_1d'] = cases_per_state['confirmed'].diff(periods=1)
  cases_per_state['confirmed_moving_avg_7d'] = np.ceil(cases_per_state['confirmed_1d'].rolling(window=7).mean())
  cases_per_state['confirmed_moving_avg_7d_rate_14d'] = cases_per_state['confirmed_moving_avg_7d']/cases_per_state['confirmed_moving_avg_7d'].shift(periods=14)
  cases_per_state['confirmed_trend'] = cases_per_state['confirmed_moving_avg_7d_rate_14d'].apply(get_trend)

  cases_per_state['deaths_1d'] = cases_per_state['deaths'].diff(periods=1)
  cases_per_state['deaths_moving_avg_7d'] = np.ceil(cases_per_state['deaths_1d'].rolling(window=7).mean())
  cases_per_state['deaths_moving_avg_7d_rate_14d'] = cases_per_state['deaths_moving_avg_7d']/cases_per_state['deaths_moving_avg_7d'].shift(periods=14)
  cases_per_state['deaths_trend'] = cases_per_state['deaths_moving_avg_7d_rate_14d'].apply(get_trend)

  if cases_is_empty:
    cases_ = cases_per_state
    cases_is_empty = False
  else:
    cases_ = pd.concat([cases_, cases_per_state],axis=0, ignore_index=True)

cases = cases_
cases_ = None

In [ ]:
# - exploração do schema;

cases['population'] = cases['population'].astype('Int64')
cases['confirmed_1d'] = cases['confirmed_1d'].astype('Int64')
cases['confirmed_moving_avg_7d'] = cases['confirmed_moving_avg_7d'].astype('Int64')
cases['deaths_1d'] = cases['deaths_1d'].astype('Int64')
cases['deaths_moving_avg_7d'] = cases['deaths_moving_avg_7d'].astype('Int64')

cases = cases[['date', 'country', 'state', 'population', 'confirmed', 'confirmed_1d', 'confirmed_moving_avg_7d', 'confirmed_moving_avg_7d_rate_14d', 'confirmed_trend', 'deaths', 'deaths_1d', 'deaths_moving_avg_7d', 'deaths_moving_avg_7d_rate_14d', 'deaths_trend', 'month', 'year']]

In [ ]:
# - etc.
cases.head(n=25)

/usr/local/lib/python3.10/dist-packages/pandas/core/nanops.py:1010: RuntimeWarning: invalid value encountered in subtract
  sqr = _ensure_numeric((avg - values) ** 2)
/usr/local/lib/python3.10/dist-packages/pandas/core/nanops.py:1010: RuntimeWarning: invalid value encountered in subtract
  sqr = _ensure_numeric((avg - values) ** 2)

,date,country,state,population,confirmed,confirmed_1d,confirmed_moving_avg_7d,confirmed_moving_avg_7d_rate_14d,confirmed_trend,deaths,deaths_1d,deaths_moving_avg_7d,deaths_moving_avg_7d_rate_14d,deaths_trend,month,year
0,2021-01-01,Brazil,Acre,881935,41689,<NA>,<NA>,NaN,NaN,796,<NA>,<NA>,NaN,NaN,2021-01,2021
1,2021-01-02,Brazil,Acre,881935,41941,252,<NA>,NaN,NaN,798,2,<NA>,NaN,NaN,2021-01,2021
2,2021-01-03,Brazil,Acre,881935,42046,105,<NA>,NaN,NaN,802,4,<NA>,NaN,NaN,2021-01,2021
3,2021-01-04,Brazil,Acre,881935,42117,71,<NA>,NaN,NaN,806,4,<NA>,NaN,NaN,2021-01,2021
4,2021-01-05,Brazil,Acre,881935,42170,53,<NA>,NaN,NaN,808,2,<NA>,NaN,NaN,2021-01,2021
5,2021-01-06,Brazil,Acre,881935,42378,208,<NA>,NaN,NaN,814,6,<NA>,NaN,NaN,2021-01,2021
6,2021-01-07,Brazil,Acre,881935,42478,100,<NA>,NaN,NaN,821,7,<NA>,NaN,NaN,2021-01,2021
7,2021-01-08,Brazil,Acre,881935,42814,336,161,NaN,NaN,823,2,4,NaN,NaN,2021-01,2021
8,2021-01-09,Brazil,Acre,881935,42908,94,139,NaN,NaN,823,0,4,NaN,NaN,2021-01,2021
9,2021-01-10,Brazil,Acre,881935,43127,219,155,NaN,NaN,825,2,4,NaN,NaN,2021-01,2021
10,2021-01-11,Brazil,Acre,881935,43346,219,176,NaN,NaN,826,1,3,NaN,NaN,2021-01,2021
11,2021-01-12,Brazil,Acre,881935,43432,86,181,NaN,NaN,827,1,3,NaN,NaN,2021-01,2021
12,2021-01-13,Brazil,Acre,881935,43785,353,201,NaN,NaN,829,2,3,NaN,NaN,2021-01,2021
13,2021-01-14,Brazil,Acre,881935,44068,283,228,NaN,NaN,832,3,2,NaN,NaN,2021-01,2021
14,2021-01-15,Brazil,Acre,881935,44156,88,192,NaN,NaN,835,3,2,NaN,NaN,2021-01,2021
15,2021-01-16,Brazil,Acre,881935,44621,465,245,NaN,NaN,835,0,2,NaN,NaN,2021-01,2021
16,2021-01-17,Brazil,Acre,881935,44767,146,235,NaN,NaN,836,1,2,NaN,NaN,2021-01,2021
17,2021-01-18,Brazil,Acre,881935,44775,8,205,NaN,NaN,837,1,2,NaN,NaN,2021-01,2021
18,2021-01-19,Brazil,Acre,881935,45208,433,254,NaN,NaN,839,2,2,NaN,NaN,2021-01,2021
19,2021-01-20,Brazil,Acre,881935,45429,221,235,NaN,NaN,840,1,2,NaN,NaN,2021-01,2021
20,2021-01-21,Brazil,Acre,881935,45729,300,238,NaN,NaN,844,4,2,NaN,NaN,2021-01,2021
21,2021-01-22,Brazil,Acre,881935,45987,258,262,1.627329,upward,846,2,2,0.5,downward,2021-01,2021
22,2021-01-23,Brazil,Acre,881935,46239,252,232,1.669065,upward,848,2,2,0.5,downward,2021-01,2021
23,2021-01-24,Brazil,Acre,881935,46429,190,238,1.535484,upward,850,2,2,0.5,downward,2021-01,2021
24,2021-01-25,Brazil,Acre,881935,46539,110,252,1.431818,upward,854,4,3,1.0,stable,2021-01,2021

## 4\. Transformação

In [ ]:
# faça o código de manipulação dos dados:
#
# - enriquecimento;
vaccines = vaccines.query('location == "Brazil"').reset_index(drop=True)
vaccines = vaccines[['location', 'population', 'total_vaccinations', 'people_vaccinated', 'people_fully_vaccinated', 'total_boosters', 'date']]

vaccines = vaccines.fillna(method='ffill')

vaccines = vaccines[(vaccines['date'] >= '2021-01-01') & (vaccines['date'] <= '2021-12-31')].reset_index(drop=True)

vaccines = vaccines.rename(
  columns={
    'location': 'country',
    'total_vaccinations': 'total',
    'people_vaccinated': 'one_shot',
    'people_fully_vaccinated': 'two_shots',
    'total_boosters': 'three_shots',
  }
)

vaccines['month'] = vaccines['date'].apply(lambda date: date.strftime('%Y-%m'))
vaccines['year']  = vaccines['date'].apply(lambda date: date.strftime('%Y'))

vaccines['one_shot_perc'] = round(vaccines['one_shot'] / vaccines['population'], 4)
vaccines['two_shots_perc'] = round(vaccines['two_shots'] / vaccines['population'], 4)
vaccines['three_shots_perc'] = round(vaccines['three_shots'] / vaccines['population'], 4)

vaccines['population'] = vaccines['population'].astype('Int64')
vaccines['total'] = vaccines['total'].astype('Int64')
vaccines['one_shot'] = vaccines['one_shot'].astype('Int64')
vaccines['two_shots'] = vaccines['two_shots'].astype('Int64')
vaccines['three_shots'] = vaccines['three_shots'].astype('Int64')

vaccines = vaccines[['date', 'country', 'population', 'total', 'one_shot', 'one_shot_perc', 'two_shots', 'two_shots_perc', 'three_shots', 'three_shots_perc', 'month', 'year']]

<ipython-input-6-0267ee756987>:7: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  vaccines = vaccines.fillna(method='ffill')

In [ ]:
# - controle de qualidade;

cases.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9828 entries, 0 to 9827
Data columns (total 16 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   date                              9828 non-null   datetime64[ns]
 1   country                           9828 non-null   object
 2   state                             9828 non-null   object
 3   population                        9828 non-null   Int64
 4   confirmed                         9828 non-null   int64
 5   confirmed_1d                      9801 non-null   Int64
 6   confirmed_moving_avg_7d           9639 non-null   Int64
 7   confirmed_moving_avg_7d_rate_14d  9261 non-null   float64
 8   confirmed_trend                   9261 non-null   object
 9   deaths                            9828 non-null   int64
 10  deaths_1d                         9801 non-null   Int64
 11  deaths_moving_avg_7d              9639 non-null   Int64
 12  deaths_moving_avg_7d_rate_14d     9244 non-null   float64
 13  deaths_trend                      9244 non-null   object
 14  month                             9828 non-null   object
 15  year                              9828 non-null   object
dtypes: Int64(5), datetime64[ns](1), float64(2), int64(2), object(6)
memory usage: 1.2+ MB

In [ ]:
cases.isna().any()

date                                False
country                             False
state                               False
population                          False
confirmed                           False
confirmed_1d                         True
confirmed_moving_avg_7d              True
confirmed_moving_avg_7d_rate_14d     True
confirmed_trend                      True
deaths                              False
deaths_1d                            True
deaths_moving_avg_7d                 True
deaths_moving_avg_7d_rate_14d        True
deaths_trend                         True
month                               False
year                                False
dtype: bool

In [ ]:
vaccines.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 365 entries, 0 to 364
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   date              365 non-null    datetime64[ns]
 1   country           365 non-null    object
 2   population        365 non-null    Int64
 3   total             349 non-null    Int64
 4   one_shot          349 non-null    Int64
 5   one_shot_perc     349 non-null    float64
 6   two_shots         330 non-null    Int64
 7   two_shots_perc    330 non-null    float64
 8   three_shots       121 non-null    Int64
 9   three_shots_perc  121 non-null    float64
 10  month             365 non-null    object
 11  year              365 non-null    object
dtypes: Int64(5), datetime64[ns](1), float64(3), object(3)
memory usage: 36.1+ KB

In [ ]:
vaccines.isna().any()

date                False
country             False
population          False
total                True
one_shot             True
one_shot_perc        True
two_shots            True
two_shots_perc       True
three_shots          True
three_shots_perc     True
month               False
year                False
dtype: bool

In [ ]:
# - etc.
vaccines.tail()

,date,country,population,total,one_shot,one_shot_perc,two_shots,two_shots_perc,three_shots,three_shots_perc,month,year
360,2021-12-27,Brazil,215313504,329011365,165952037,0.7707,142764283,0.6631,25218893,0.1171,2021-12,2021
361,2021-12-28,Brazil,215313504,329861730,166062249,0.7713,142965728,0.6640,25758909,0.1196,2021-12,2021
362,2021-12-29,Brazil,215313504,330718457,166143380,0.7716,143282084,0.6655,26219623,0.1218,2021-12,2021
363,2021-12-30,Brazil,215313504,331164041,166185628,0.7718,143398692,0.6660,26507937,0.1231,2021-12,2021
364,2021-12-31,Brazil,215313504,331273910,166195505,0.7719,143436012,0.6662,26571077,0.1234,2021-12,2021

## 5\. Carregamento

In [ ]:
# faça o código para persistência dos dados:
#
# - salve-os no formato csv sem índice;
cases.to_csv('./covid-cases.csv', sep=',', index=False)

vaccines.to_csv('./covid-vaccines.csv', sep=',', index=False)
# - etc.

Ellipsis

## 6\. Link para acesso ao Dashboard

https://lookerstudio.google.com/reporting/16512b78-22e6-41f2-b891-41c162cca88d/page/xbVCE